
{% extends "base.html" %}

{%block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="30">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div class="content_wrapper" id="app">
        
          <h1>
            Weather
            
          </h1><br>
          <form method="get">
            <label>city:</label><br>
            <input type="text" name="city" placeholder="city name"><br><br>
            <input type="submit" value="Submit">
          </form> <br>
      
          <div class="weather_card">
            <div class="weather_card_img" :style="{backgroundImage: weatherImg}">
              <div class="weather_card_state">
                <span class="material-icons">
                  {{resp.weatherIcon}}
                </span>
              </div>
            </div>
      
            <div class="weather_card_infos">
              <div class="weather_card_infos_title">
                
              </div>
              <div class="weather_card_infos_temp">
                {{resp.celcius}}°C / {{resp.kelvin}}°k
              </div>
              <div class="bottom">
                <hr>
                <div class="weather_card_infos_bottom">
                    weather: {{resp.weather}} 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</body>
</html>
{% endblock %}